{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "semi": [
      "error",
      "never"
    ],
    "comma-style": 0
  }
}